{% extends "main.html" %}
{% block content %}
<table border="1px solid black">
    <thead>
        <tr>
            <td>name</td>
            <td>phone</td>
            <td>position</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        {% for i in employee %}
        <tr>
            <td>{{ i.name }}</td>
            <td>{{ i.phone }}</td>
            <td>{{ i.position }}</td>
            <td>
                <form action="{% url 'update' i.pk %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="edit">
                </form>
                <form action="{% url 'delete' i.pk %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="delete" value="true">
                    <input type="submit" value="delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
